@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html, body {
    margin: 0;
    height: 100%;
    background: url("../img/sfondo.png");

}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
  }
  /* Define the styles for the unloaded pages */
  html.is-animating .transition-fade {
    opacity: 0;
  }

.centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mamalogo{
    width: 20em;
    image-rendering: pixelated;
}

.pulse {
    animation: pulse 3s infinite;
    margin: 0 auto;
    display: table;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
      
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
      
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .tilt-shaking {
    animation: tilt-shaking 3s infinite;
    margin: 0 auto;
    display: table;
    animation-direction: alternate;
    -webkit-animation-name: tilt-shaking;
    animation-name: tilt-shaking;
  }

  @keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
  }


  @-webkit-keyframes tilt-shaking {
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(3deg); }
    50% { -webkit-transform: rotate(0eg); }
    75% { -webkit-transform: rotate(-3deg); }
    100% { -webkit-transform: rotate(0deg); }
  }

  .zoom-in-out-box {
    animation: zoom-in-zoom-out 0.8s ease-in;
  }
  
  @-webkit-keyframes zoom-in-zoom-out {
    0% {
      -webkit-transform: scale(0.2, 0.2);
    }
    50% {
      -webkit-transform: scale(1.3, 1.3);
    }
    100% {
      -webkit-transform: scale(1, 1);
    }
  }

  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0.2, 0.2);
    }
    50% {
      transform: scale(1.3, 1.3);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
  .food{
    object-fit: cover;
    height: 64px;
    width: 64px;
    border-radius: 10%;
  }

  .swalfont {
    font-family: 'Roboto', sans-serif; /* Specifica il tuo font personalizzato qui */
 }

 a, a:hover, a:active, a:visited { 
  color: white !important;
  text-decoration: none !important; 
}

/* Stile del balloon */
.speech-bubble {
  /* Rimuovi width e height per consentire al balloon di adattarsi dinamicamente alla larghezza del testo */
  position: absolute;
  margin: 1em auto;
  padding: 0.8em;
  border-radius: .25em;
  transform: rotate(-4deg) rotateY(15deg);
  background: #629bdd;
  font: 1.4em Century Gothic, Verdana, sans-serif;
  text-align: center;
  white-space: pre-wrap; /* Utilizza 'pre-wrap' per gestire il testo a capo */
  max-width: 90%; /* Limita la larghezza massima del balloon */
  word-wrap: break-word; /* Consentire la spezzatura delle parole lunghe */

}

.speech-bubble:before, .speech-bubble:after {
  position: absolute;
  z-index: -1;
  content: '';
}

.speech-bubble:after {
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: inherit;
  transform: rotate(2deg) translate(.35em, -.15em) scale(1.02);
  background: #f4fbfe;
  
}

/* Nascondi l'area delle informazioni di stato in modalità landscape e portrait */
@media screen and (orientation: portrait) {
  body {
      height: calc(100vh - constant(safe-area-inset-top));
      height: calc(100vh - env(safe-area-inset-top));
  }
}

@media screen and (orientation: landscape) {
  body {
      height: calc(100vh - constant(safe-area-inset-top));
      height: calc(100vh - env(safe-area-inset-top));
  }
}
